* {
  /* css reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* global styles  */
  scroll-behavior: smooth;
  font-style: normal;
  height:min-content;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  /* variables */

  /* colors */
  --red-color-one: #980D1C;
  --red-color-two: #841f29;
  --red-color-three: #BC1021;
  --yellow-color-one: #eed29beb;
  --yellow-color-two: #eed29ba8;
  --white-color: whitesmoke;
  --black-color: #100607;
  --gray-color: rgba(245, 245, 245, 0.451);

  /* fonts */
  --impact-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  background-color: var(--black-color);
}

.main-app {
	-webkit-animation: main-fade-in 1s linear both;
	        animation: main-fade-in 1s linear both;
}

@-webkit-keyframes main-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes main-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }